{% extends "base/base_layout.html" %}
{% load static %}

{% block title %}
 دوره ها
{% endblock %}

{% block body %}

<main class="content_div relative bg-gray-100">
    <section class=" p-3 md:p-6">
      <div class="title flex justify-center">
        <h2 class="text-indigo-900 text-lg">همه دوره ها</h2>
      </div>
      <div class="mx-auto py-3">
        <div class="grid grid-cols-2 gap-4 mt-5">
            {% for course in object_list %}
            <a href="{% url 'course:course_detail' slug=course.slug %}">
                <div  category-img-id="category1" class="course-card rounded-lg bg-blue-950 p-2 md:p-4">
                <img src="{{ course.cover_image.url }}" alt="{{ course.title }}" class="w-full h-28 md:h-48">
                <div class="p-1 md:p-4 text-white">
                    <h3 class="text-[12px] md:text-base font-semibold">{{ course.title }}</h3>
                    <p class="text-sm mt-2">
                        {% if course.selling_price == 0 %}
                          رایگان
                        {% else %}
                          هزار تومان {{ course.selling_price }}
                        {% endif %}
                    </p>
                </div>
                <div class="flex justify-end gap-x-4 flex-wrap text-zinc-400 text-[11px] md:text-base">
                    <div class="flex gap-x-1  items-center w-full md:w-auto">
                        <svg class="w-5 h-5">
                            <use xlink:href="#users"></use>
                        </svg>
                        <span>{{ course.category }}</span>
                    </div>
                    <div class="flex gap-x-1  items-center w-full md:w-auto">
                        <svg class="w-5 h-5">
                            <use xlink:href="#clock"></use>
                        </svg>
                        <span>{{ course.duration }}</span>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
      </div>
    </section>
</main>



{% endblock %}
