{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'public/styles/app.css' %}">
    <style>
  .error {
    border-color: red !important;
    font-size: 15px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }
</style>
    {% block extra_style %}
    {% endblock %}
</head>

<body class="flex items-center justify-center min-h-screen">

{% block body %}
{% endblock %}


  <script src="{% static 'public/js/signup-in.js' %}"></script>

  {% block extra_script %}
  {% endblock %}

</body>
</html>