{% load static %}

<div class="sticky bottom-0 left-0 w-full z-[5] h-16 md:h-20 flex items-center bg-menu bg-cover bg-no-repeat p-2">
        <div class="flex justify-between items-center w-full">
            <a href="{% url 'account:profile_details' %}" class="flex items-center justify-center w-8 h-8">
                <img src="{% static 'public/images/Profile.png' %}" alt="">
            </a>
            <a href="#" class="flex items-center justify-center w-8 h-8">
                <img src="{% static 'public/images/sound.png' %}" alt="">
            </a>
            <a href="/" class="flex items-center justify-center w-10 h-10 rounded-full bg-yellow-600 mb-[30px]">
                <img src="{% static 'public/images/Home.png' %}" alt="">
            </a>
            <a href="{% url 'course:course_list' %}" class="flex items-center justify-center w-8 h-8">
                <img src="{% static 'public/images/cart.png' %}" alt="">
            </a>
            <a href="#" class="flex items-center justify-center w-8 h-8">
                <img src="{% static 'public/images/Notification.png' %}" alt="">
            </a>
        </div>
</div>

