{% extends "base/base_sign.html" %}
{% load static %}

{% block title %}
تأیید شماره
{% endblock %}

{% block body %}
<div class="w-full md:w-[500px] mx-auto flex justify-center items-center min-h-screen bg-home-desktop bg-cover bg-no-repeat">
  <div class="w-full max-w-md p-8">

    <div class="flex justify-center p-5">
      <img src="{% static 'public/images/logoghadiri.png' %}" alt="">
    </div>

    <p class="mb-6 text-white text-lg text-center">
      لطفاً کدی که به شماره شما ارسال شده را وارد کنید
    </p>

    <form method="post" action="#">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="text-center custom-text-red font-bold mb-4">
          {{ form.non_field_errors.0 }}
        </div>
      {% endif %}

      <div class="mb-4">
        <div id="code-error" class="font-bold text-center custom-text-red">
          {{ form.code.errors.0 }}
        </div>
        <div class="flex items-center bg-gray-200 bg-opacity-50 rounded-full p-2">
          <svg class="w-6 h-6 text-white">
            <use xlink:href="#lock-closed"></use>
          </svg>
          {{ form.code }}
        </div>
      </div>

      <div class="mb-6 flex justify-center">
        <button type="submit" class="w-[80%] bg-[#FCA311] text-white font-bold py-2 px-4 rounded-full">تأیید</button>
      </div>

    </form>

    <div class="text-center mt-4 text-white">
      کد ارسال نشده؟
      <a href="{% url 'account:get_phone_number' %}" class="text-[#FCA311] hover:underline font-bold">دوباره ارسال کن</a>
    </div>

  </div>
</div>
{% endblock %}